 <div class="container">
    <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">🥡</span>
      <%= link_to "New List", new_list_path %>
    </div>
    </nav>
  </div>
<div class="banner" >
  <div class="container">
    <h1>Movies <strong>you</strong> <strong>like!</strong>!</h1>
    <p>Make a list</p>
  </div>
</div>
<div class="container col-4 mt-5">
  <h1 class="display-4">Movie List</h1>
  <br>
  <div class="d-grid gap-3 list-unstyled">
  <% @lists.each do |list| %>
      <div class="container">
      <div class="card-category">
      <div class="p-2 bg-light border d-flex justify-content-between">
      <%= link_to list.name, list, class:"text-decoration-none" %>
      </div>
      </div>

      <div class="card-product">
      <%= <img src= asset-url("movie_1.jpg") %>
      <%= link_to list.name, list, class:"text-decoration-none" %>
      </div>
      </div>

  <% end %>
  </div>
  <br>
  <br>
  <div class="btn btn-secondary">
  <%= link_to "Add a new movie list", new_list_path, class: "text-white text-decoration-none"%>
  </div>
</div>
