   <h1><strong>Movie Details</strong></h1>

  <div class="jumbotron jumbotron-fluid mt-5">
  <div class="container col-6">
    Category:<p class="p-2 bg-light"><%= @list.name %></p>
    <% @list.bookmarks.each do |bookmark| %>
    Movie Title:<p class="p-2 bg-light"><%= bookmark.movie.title %></p>
    Comment:<p class="p-2 bg-light"><%= bookmark.comment%></p>
    <% end %>
    <br>
    <div class="btn btn-secondary">
      <%= link_to "Create a Bookmark", new_list_bookmark_path(@list) , class: "text-white text-decoration-none"%>
    </div>
    <div class="btn btn-secondary">
      <%= link_to "Back to Lists", lists_path, class: "text-white text-decoration-none"%>
    </div>
  </div>
</div>
